{% extends 'layouts/layout.twig' %}

{% block body %}
    <h1>Vous avez été correctement déconnecté.</h1>
    <p>Vous pouvez fermer cette page, <a href="https://www.urban-rivals.com">revenir sur Urban Rivals</a> ou
        <a href="/">vous reconnecter</a>.</p>
{% endblock %}